[[source]]
url = "https://pypi.org"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"  # 這是安裝 discord 核心套件
# 如果你有用其他套件，也會出現在這裡，例如：
# requests = "*"
# python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10" # 指定 Python 版本
